.j{float:right;width: 290px}
.l{color:#414190;font-size: 30px}
.o{color:#414190;font-size:50px;text-align: center;text-decoration-line: underline;font-family:'Gill Sans';font-weight: bold}
.c{background-image:url(tu.jpg)}
.f{background-color:#414190;border-width: 5px;border-color: yellow;border-style: dotted}
.je{float: right;width: 430px}
.an{display: scroll;position: fixed;bottom:710px;right: 0}
.en{display: scroll;position: fixed;bottom:0px;right: 0}
.in{display: scroll;position: fixed;bottom:0px;left: 0}
.fl{background-color:rgba(179, 241, 239, 0.674);font-size: 25px}