.e{float:right;width: 290px}
.e1{float:right;width: 320px}
.e2{float:right;width: 300px}
.e3{float:right;width: 305px}
.e4{float:right;width: 300px}
.e5{float:right;width: 305px}
.e6{float:right;width: 320px}
.e7{float:right;width: 300px}
.e8{float:right;width: 280px}
.e9{float:right;width: 300px}
.e10{float:right;width: 300px}
.e11{float:right;width: 290px}
.h{color:#414190;font-size:50px;text-align: center;text-decoration-line: underline;font-family:'Gill Sans';font-weight: bold}
.i{color:#414190;font-size: 30px}
.n{background-image:url(tw.jpg)}
.g{background-color:#414190;border-width: 5px;border-color: yellow;border-style: dotted}
.jk{width: 600px}
.fp{background-color:rgba(179, 241, 239, 0.674);font-size: 25px}