.ad{float:right;width: 196px}
.ad0{float:right;width: 190px}
.ad1{float:right;width: 300px}
.ad2{float:right;width: 360px}
.ad3{float:right;width:186px}
.ad4{float:right;width:350px}
.ad5{float:right;width:200px}
.ad6{float:right;width:200px}
.ad7{float:right;width:350px}
.ad8{float:right;width:200px}
.ad9{float:right;width:200px}
.ad10{float:right;width:220px}
.ad11{float:right;width:220px}
.ad12{float:right;width:180px}
.r{color:#414190;font-size:50px;text-align: center;text-decoration-line: underline;font-family:'Gill Sans';font-weight: bold}
.b{color:#414190;font-size: 30px}
.y{background-color:#414190;border-width: 5px;border-color: yellow;border-style: dotted}
.w{background-image:url(turr.jpg)}
.v{width: 800px}
.fh{background-color:rgba(179, 241, 239, 0.674);font-size: 25px}