.rr{text-align: center;text-decoration-line:underline;text-decoration-style: dotted;color:#414190;font-size:50px;font-style: italic}
.a{background-color:rgba(179, 241, 239, 0.92)}
.h{background-image:url(mos.jpg)}
.f{font-weight:bold}
.d{font-style: italic}