.k{list-style-image:url(m2.png)}
.l{color:#414190;font-size:50px;text-align: center;text-decoration-line: underline;font-family:'Gill Sans';font-weight: bold}
.a{color:#414190;font-size: 30px}
.im{background-image:url(ca.png)}
.imb{float:right;width:380px}
.imb1{float:left;width:380px}
.liu{background-color:#414190;border-width: 5px;border-color: yellow;border-style: dotted}
.fon{background-color:rgba(243, 238, 232, 0.735);font-size: 25px}
video{width: 450px;height: 450px}